<html>
<head>
  <title>Music World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.vmap.js"></script>
  <script type="text/javascript" src="/js/maps/jquery.vmap.world.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/ejs.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/req.js" charset="utf-8"></script>
</head>
<body>
  <div class="wrapper">
    <% if(success_msg){ %><%= success_msg %><% } %>
    <% if(error_msg){ %><%= error_msg %><% } %>
    <% if(error){ %><%= error %><% } %>
    <div id="vmap" style="width: 100%; height: 100%;"></div>
    <!-- PLANE -->
    <img src="/img/plane.png" class="plane" height="80px" alt="">

    <!-- LOGIN SECTION-->
    <div class="login_buttons_wrapper">
      <a href="/users/login" class="login-btn">Login</a>
      <a id="create_account" href="/users/register">Don't have an account?</a>
    </div>
    

    <div class="login-box">
      <form class="login" action="/users/login" method="post">
        <div class="input-fields">
          <div class="form-column">
            <label for="username">Email</label>
            <input type="text" id="username" placeholder="username" name="username">
          </div>
          <div class="form-column">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="*****" name="password">
          </div>
        </div>
        <input class="login-submit" type="submit" value="Send">
      </form>
      <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>

    <!-- SONG INFO -->
    <div class="song-info-wrapper"></div>

    <!-- TIMELINE -->
    <div class="timeline">
      <input class="time" type="range" min="1920" max="2017" step="1">
      <span id="year" class="range-value"></span>
    </div>

    <!-- HELP -->
    <div class="start hidden">
      <p>pick a <span class="country">coutry</span> anywhere on the map</p>
      <span class="and">and</span>
      <p class="year">pick a <span class="year">year</span> from 1920 to 2017</p>
      <h2>Enjoy Your Trip</h2>
    </div>
    <div class="help">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>

    <!-- MOOD -->
    <div class="mood">
      <span class="flag">mood</span>
      <ul>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Blues</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Classical</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Electronic</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Soul</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Hip-Hop</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Jazz</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Funk</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Pop</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Reagge</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Rock</p></li>
        <li><i class="fa fa-circle-o" aria-hidden="true"></i><p>Any</p></li>
      </ul>
    </div>

    <div class="post-song hidden">
      <form id="url" action="/upload">
        <input id="youtube-input" type="text">
        <input class="youtube" type="submit" placeholder="Paste a youtube url...">
      </form>
    </div>

  </div>
</body>
</html>